@import url("https://fonts.googleapis.com/css2?family=Dekko&display=swap");

:root {
  --white: #f6f6f6;
  --grey: #a8a8a8;
  --blue: #0f6bff;
  --red: #ff5151;
  --hover: #e9eaeb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dekko", cursive;
}

body {
  overflow-y: scroll; /*fix the layout shift issue caused when tasklist exceeds the screen height*/
  min-height: 100svh;
  background: linear-gradient(
    135deg,
    hsla(217, 100%, 53%, 1) 40%,
    hsla(186, 100%, 69%, 1) 100%
  );
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.todo_app {
  background-color: var(--white);
  width: 510px;
  margin: 80px 20px;
  padding: 50px 30px 30px;
  border-radius: 12px;
}

header {
  display: flex;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  align-items: center;
}

.image {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

.block {
  padding-left: 20px;
  border: 2px solid var(--blue);
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.input_field {
  border: none;
  outline: none;
  flex: 1;
  min-width: 100px;
  height: 30px;
  font-size: 18px;
  background-color: var(--white);
}

.button {
  border: none;
  outline: none;
  padding: 10px 40px;
  border-radius: 40px;
  background-color: var(--blue);
  color: var(--white);
  font-size: 1.1rem;
  cursor: pointer;
}

.task_list li {
  position: relative;
  list-style: none;
  cursor: pointer;
  font-size: 20px;
  padding: 12px 35px 12px 58px;
  /* user-select: none; */
  min-height: 56px; /* to fix line height error when using space as the only task input */
  max-width: 490px; /*🔨 fix this*/
  display: flex;
  word-break: break-word;
}

i {
  max-width: 389px;
}

ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(img/circle.png);
  background-size: cover;
  background-position: center;
  top: 14px;
  left: 8px;
}

ul li.checked {
  color: var(--grey);
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(img/check.png);
}

ul li span {
  position: absolute;
  right: 8px;
  color: var(--red);
  height: 32.8px;
  width: 32.8px;
  text-align: center;
  font-size: 22px;
  border-radius: 5px;
}

ul li span:hover {
  color: var(--hover);
  background-color: var(--red);
}

ul li {
  border-radius: 8px;
  margin-bottom: 8px;
}

ul li:hover {
  background-color: var(--hover);
}

@media only screen and (max-width: 600px) {
  .todo_app {
    min-width: 300px;
    margin: 40px 20px;
  }

  h1 {
    line-height: 1;
  }
}
